---
import type { DescriptionMetaProps } from "../types";

interface Props extends DescriptionMetaProps {}

const { title, description, keywords, author } = Astro.props;
---

<title>{title}</title>
<meta name="description" content={description} />
{keywords && keywords.length > 0 && (
  <meta name="keywords" content={keywords.join(", ")} />
)}
{author && <meta name="author" content={author} />}
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta charset="utf-8" />
<meta name="generator" content={Astro.generator} />
