---
import AboutSection from "../components/sections/AboutSection.astro";
import FooterSection from "../components/sections/FooterSection.astro";
import GlobalLayout from "../components/GlobalLayout.astro";
import HeroSection from "../components/sections/HeroSection.astro";
import LinksSection from "../components/sections/LinksSection.astro";
import WorksSection from "../components/sections/WorksSection.astro";
import Moon from "../components/Moon.astro";
import MouseStalker from "../components/MouseStalker.astro";
import ServerSection from "../components/sections/ServerSection.astro";
import TeaCup from "../components/TeaCup.astro";
---

<GlobalLayout>
	<MouseStalker />
	<Moon />
	<TeaCup />

	<main>
		<HeroSection />
		<LinksSection />
		<AboutSection />
		<WorksSection />
		<ServerSection />
	</main>

	<FooterSection />
</GlobalLayout>
