---
import AboutSection from "../components/AboutSection.astro";
import FooterSection from "../components/FooterSection.astro";
import GlobalLayout from "../components/GlobalLayout.astro";
import HeroSection from "../components/HeroSection.astro";
import Moon from "../components/Moon.astro";
import MouseStalker from "../components/MouseStalker.astro";
import ServerSection from "../components/ServerSection.astro";
import TeaCup from "../components/TeaCup.astro";
---

<GlobalLayout>
	<MouseStalker />
	<Moon />
	<TeaCup />

	<main>
		<HeroSection />
		<AboutSection />
		<ServerSection />
	</main>

	<FooterSection />
</GlobalLayout>
