---
import HeadMeta from "@components/meta/HeadMeta.astro";
import ThemeToggle from "@components/ThemeToggle.astro";
import type { HeadMetaProps } from "@components/meta/types";
import { ClientRouter } from 'astro:transitions';
import { css } from '@styles/css';

interface Props extends HeadMetaProps {}

const props = Astro.props;
---

<html lang="ja">
  <head>
    <HeadMeta {...props} />
    <ClientRouter />
  </head>
  <body>
    <ThemeToggle />
    <slot />
  </body>
</html>
