---
import HeadMeta from "@components/meta/HeadMeta.astro";
import ThemeToggle from "@components/ThemeToggle.astro";
import type { HeadMetaProps } from "@components/meta/types";
import { ClientRouter } from 'astro:transitions';
import { css } from '@styles/css';

interface Props extends HeadMetaProps {}

const props = Astro.props;
---

<html lang="ja">
  <head>
    <HeadMeta {...props} />
    <!-- GitHub Markdown CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/github-markdown-css@5.4.0/github-markdown-light.css" media="(prefers-color-scheme: light)" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/github-markdown-css@5.4.0/github-markdown-dark.css" media="(prefers-color-scheme: dark)" />
    
    <ClientRouter />
  </head>
  <body>
    <ThemeToggle />
    <slot />
  </body>
</html>
